extends layout

block content
  title = "MY_BANK"
  h1= title
  script.
    if (#{success} == 0){
        alert("Account already exists. Please Login");
    }
    else if (#{success} == 1){
        alert("Account created. Please Login \n REFERECE ID : #{reference_id}")
    }
    else if (#{success} == 2){
        alert("Login failed, Account doesn't exist")
    }
  p Welcome to #{title}
  form(name="user-login", method="post", action='/login')
        div.input
            span.label Reference ID
            input(type="text", name="reference_id", required)
        div.actions
            input(type="submit", value="Login")
            br
            br
  form(name="user-signin", method="post", action='/signup')
        div.input
            span.label FIRST Name
            input(type="text", name="first_name", required)
            br
            span.label LAST Name
            input(type="text", name="last_name", required)
            br
            span.label EMAIL ID
            input(type="email", name="user_email_id", required)
            br
            span.label ADDRESS
            input(type="text", name="user_address", required)
        div.actions
            input(type="submit", value="Sign In")

